<div class="show-shirt">
  <div class='shirt-shower-single' id="shirt<%=@shirt.id%>">
    <p>Designer: <%= @shirt.designer.name %></p>
    <p>$<%= @shirt.price %></p>
    <a href="/purchases/new/<%= @shirt.id %>"><button>Add To Cart</button></a></p>

      <p> <a href="/shirts/<%= @shirt.id %>">SKU <%= @shirt.id %></a>
      <img class="shirt-image-single" src="/media/shirt.png"><br><br>
      <p class="shirt-content-single"> <%= @shirt.content %></p>
    </div>
</div>
